/*
Colors used:
Primary Color (grey): #414345;
Secondary Color (gold): #E6CEA8;
Third Color: (green): #A9CCB6
Background Color (White): #FFFFFF
*/
/*

font-family: 'Merriweather', serif;
font-family: 'Smooch', sans-serif;
font-family: 'Oswald', sans-serif;

*/
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

header {
  bottom: 0;
  background-color: #BF91E6;
  padding: 10px 0;
  text-align: center;
/*  -webkit-box-shadow: 0px -3px 10px 0px rgba(50, 50, 50, 0.5);
  -moz-box-shadow: 0px -3px 10px 0px rgba(50, 50, 50, 0.5);*/
  box-shadow: 0px -3px 10px 0px rgba(50, 50, 50, 0.3);
  position: fixed;
  width: 100%;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle.responsive nav {
  padding: 60px 0 0;
}

.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
  border-top: 1px solid #FFFFFF;
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

.navtoggle li .icon {
  right: 0;
  top: 5px;
  font-size: 32px;
  padding-right: 8;
  position: absolute;
  color: #FFFFFF;
}

body {
  background-color: #ffffff;
  font-family: 'Merriweather', sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
  color: #414345;
}

h1 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 72px;
  font-weight: 500;
  line-height: 1;
  color: #414345;
  text-align: center;
}

h2 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 48px;
  font-weight: 500;
  line-height: 1;
  color: #414345;
  text-decoration: underline;
}

h3 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 36px;
  font-weight: 300;
  line-height: 1;
  color: #414345;
  margin: 16px 0;
}

h4 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 28px;
  font-weight: 300;
  line-height: 1;
  color: #414345;
}

p {
  font-size: 16px;
  margin-bottom: 16px;
}

img {
  width: 100%;
}

/*a:visited {
  color: #80735E;
  text-decoration: underline;
}*/
a:hover, a:focus {
  color: #A9CCB6;
  text-decoration: underline;
}

a:active {
  color: #E6CEA8;
  text-decoration: underline;
}

a {
  color: #E6CEA8;
  text-decoration: underline;
  transition-duration: 0.2s;
  transition-property: all;
}

/*.primarybutton:visited {
  display: inline-block;
  background-color: #80735E;
  color: #FFFFFF;
  font-weight: 400;
  padding: 10px;
  margin: 24px 0px;
  border-radius: 3px;
  transition: 0.2s opacity;
}*/
.primarybutton:hover {
  display: inline-block;
  background-color: #B37AE6;
  color: #FFFFFF;
  font-weight: 400;
  padding: 10px;
  margin: 16px 0px;
  border-radius: 3px;
  text-decoration: none;
  /*opacity: .6;*/
}

.primarybutton:active {
  display: inline-block;
  background-color: #BF91E6;
  color: #FFFFFF;
  font-weight: 400;
  padding: 10px;
  margin: 16px 0px;
  border-radius: 3px;
  text-decoration: none;
}

.primarybutton {
  display: inline-block;
  background-color: #BF91E6;
  color: #FFFFFF;
  font-weight: 400;
  padding: 10px;
  margin: 16px 0px;
  border-radius: 3px;
  transition: 0.2s;
  opacity: 1;
  transition-property: all;
  text-decoration: none;
}

/*.secondarybutton:visited {
  display: inline-block;
  background-color: #FFFFFF;
  color: #80735E;
  font-weight: 400;
  padding: 10px;
  margin: 24px 0px;
  border-radius: 3px;
  border-color: #80735E;
  transition: 0.2s opacity;
}*/
.secondarybutton:hover {
  display: inline-block;
  background-color: inherit;
  color: #B37AE6;
  font-weight: 400;
  padding: 10px;
  margin: 16px 0px;
  border-radius: 3px;
  border-color: #B37AE6;
  text-decoration: none;
  /*opacity: .6;*/
}

.secondarybutton:active {
  display: inline-block;
  background-color: inherit;
  color: #BF91E6;
  font-weight: 400;
  padding: 10px;
  margin: 16px 0px;
  border-radius: 3px;
  border: 2px solid #BF91E6;
  text-decoration: none;
}

.secondarybutton {
  display: inline-block;
  background-color: inherit;
  color: #BF91E6;
  font-weight: 400;
  padding: 10px;
  margin: 16px 0px;
  border-radius: 3px;
  border: 2px solid #BF91E6;
  transition: 0.2s;
  opacity: 1;
  transition-property: all;
  text-decoration: none;
}

.disabledbutton, .disabledbutton:active, .disabledbutton:hover {
  display: inline-block;
  background-color: #41434580;
  color: #FFFFFF;
  font-weight: 400;
  padding: 10px;
  margin: 16px 0px;
  border-radius: 3px;
  transition: 0.2s;
  opacity: 1;
  text-decoration: none;
  pointer-events: none;
}

/* Layout styling */
.container {
  padding: 0 16px;
}

#work .row {
  margin: 16px 0;
  border-bottom: 1px solid #909499;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

#hero {
  background-color: #E6CEA8;
  padding: 20px 8px;
  display: inline-block;
  text-align: center;
  width: 100%;
}

#hero h1 {
  margin: 0;
  padding: 0.67em 0 0 0;
}

#hero p {
  margin: 0;
  padding: 0.67em 0;
}

nav>ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  /*display: inline-block;*/
}

nav>ul>li {
  /*display: inline-block;*/
}

nav>ul>li>a {
  padding: 0 15px;
  font-weight: 500;
  /*text-transform: uppercase;*/
  text-decoration: none;
  color: #FFFFFF;
}

nav>ul>li>a:hover {
  text-decoration: none;
  color: #BF91E6;
}

#nils-main {
  padding-top: 16px;
}

.pparea {
border-bottom: 1px solid #414345;
margin-bottom: 16px;
}

svg > g > text {
  fill: #FFFFFF
}

footer {
  background-color: #E6CEA8;
  padding: 10px 0;
  text-align: center;
}

footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

footer ul li {
  display: inline-block;
}

footer ul li svg {
  height: 40px;
  margin: 10px 10px;
}

.social {
  display: inline-block;
  width: 40px;
  color: #414345;
}

.social:hover {
  color: #E6CEA8;
}

#logo {
  max-height: 60px;
  max-width: 100px;
  float: left;
}

#nav {
  position: relative;
  text-align: right;
}

#copyright {
  padding: 0 0 80px 0;
}

#social {
  list-style-type: none;
  padding: 0;
}

#about-picture {
  width: 100%;
  max-width: 600px;
}


[class*="col-"] {
  float: left;
  padding: 10px;
}

@keyframes color-change {
  from {
    fill: #edc655;
  }

  to {
    fill: #f76414;
  }
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  body {
    font-size: 18px;
  }

  header {
    bottom: inherit;
    text-align: unset;
    padding: 16px 0 16px;
    background-color: #414345;
    -webkit-box-shadow: 0px 3px 10px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow: 0px 3px 10px 0px rgba(50, 50, 50, 0.5);
    box-shadow: 0px 3px 10px 0px rgba(50, 50, 50, 0.5);
  }

  header nav {
    float: right;
    margin-top: 25px;
  }

  nav>ul>li {
    display: inline-block;
  }

  nav>ul>li>a {
    color: #E6CEA8;
  }

  .navtoggle li .icon {
    position: relative;
  }

  .navtoggle.responsive nav {
    padding: 0px 0 0;
  }

  .navtoggle.responsive li {
    border-top: 1px solid transparent;
    padding: 0 0;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  #work h3 {
    margin-top: 0;
  }

  p {
    font-size: 18px;
  }

  .col-md-6 {
    width: 50%;
  }

  #nils-main {
    padding-top: 110px;
  }

  #nav {
    width: inherit;
  }

  #copyright {
    padding: inherit;
  }

  svg > g > text {
    fill: #E6CEA8;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .col-lg-7 {
    width: 58.33%;
  }

  .col-lg-5 {
    width: 41.67%;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  #my-story h2 {
    margin-top: 0;
  }
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {}

/* ==============================
Extra-large devices (1920px or larger)
================================= */
@media only screen and (min-width: 1920px) {}
