/*
Colors used:
Primary Color (grey): #606366;
Secondary Color (gold): #E6CEA8;
Third Color: (green): #A9CCB6
Background Color (White): #FFFFFF
*/
/*

font-family: 'Merriweather', serif;
font-family: 'Smooch', sans-serif;
font-family: 'Oswald', sans-serif;

*/
* {
  box-sizing: border-box;
}

header {
  background-color: #606366;
  text-align: center;
  padding: 10px 0;
  -webkit-box-shadow: 0px 3px 10px 0px rgba(50, 50, 50, 0.5);
  -moz-box-shadow:    0px 3px 10px 0px rgba(50, 50, 50, 0.5);
  box-shadow:         0px 3px 10px 0px rgba(50, 50, 50, 0.5);
  position: fixed;
  width: 100%;
}

footer {
  background-color: #A9CCB6;
  padding: 10px 0;
  text-align: center;
}



body {
  background-color: #ffffff;
  font-family: 'Merriweather', sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
  color: #606366;
}

h1 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 72px;
  font-weight: 500;
  line-height: 1;
  color: #606366;
}

h2 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 48px;
  font-weight: 500;
  line-height: 1;
  color: #606366;
  text-decoration: underline;
}

h3 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 36px;
  font-weight: 300;
  line-height: 1;
  color: #606366;
}

h4 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 28px;
  font-weight: 300;
  line-height: 1;
  color: #606366;
}

p {
  font-family: 'Merriweather', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  color: #909499;
}

img {
  width: 100%;
}

a:visited {
  color: #80735E;
  text-decoration: underline;
}

a:hover, a:focus {
  color: #A9CCB6;
  text-decoration: underline;
}

a:active {
  color: #E6CEA8;
  text-decoration: underline;
}

a {
  color: #E6CEA8;
  text-decoration: underline;
}

.primarybutton:visited {
  display: inline-block;
  background-color: #80735E;
  color: #FFFFFF;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  transition: 0.2s opacity;
}

.primarybutton:hover {
  display: inline-block;
  background-color: #A9CCB6;
  color: #FFFFFF;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  transition: 0.2s opacity;
}

.primarybutton:active {
  display: inline-block;
  background-color: #E6CEA8;
  color: #FFFFFF;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  transition: 0.2s opacity;
}

.primarybutton {
  display: inline-block;
  background-color: #E6CEA8;
  color: #FFFFFF;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  transition: 0.2s opacity;
}

.secondarybutton:visited {
  display: inline-block;
  background-color: #FFFFFF;
  color: #80735E;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-color: #80735E;
  transition: 0.2s opacity;
}

.secondarybutton:hover {
  display: inline-block;
  background-color: #FFFFFF;
  color: #A9CCB6;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-color: #A9CCB6;
  transition: 0.2s opacity;
}

.secondarybutton:active {
  display: inline-block;
  background-color: #FFFFFF;
  color: #E6CEA8;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border: 2px solid #E6CEA8;
  transition: 0.2s opacity;
}

.secondarybutton {
  display: inline-block;
  background-color: #FFFFFF;
  color: #E6CEA8;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border: 2px solid #E6CEA8;
  transition: 0.2s opacity;
}

/* Layout styling */

.container {
  padding: 0 16px;
}

#work .row {
  margin: 25px 0;
  border-bottom: 1px solid #909499;
}

#hero {
  background-color: #E6CEA8;
  padding: 20px 8px;
  display: inline-block;
  text-align: center;
  width: 100%;
}

#hero h1 {
  margin: 0;
  padding: 0.67em 0 0 0;
}

#hero p {
  margin: 0;
  padding: 0.67em 0;
}
